@import url(../../app.css);

.container_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;

        @media screen and (min-width: 600px) {
            flex-direction: row;
            justify-content:space-evenly;
            align-items: center;
        }

        .container_img {
            background-color: white;
            height: 76vh;
            width: 60%;
            background-size: cover;
            background-position-y: start;
            background-position-x: center;

            @media screen and (min-width: 600px) {
                width: 30vh;
            }
        }

        .container_cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            grid: 1px;
            padding: 30px 0px;
            

            @media screen and (min-width: 600px) {
                width: 40%;
                padding: 0px;
                height: 75vh;
            }
            

            .card {
                width: 80%;
                height: auto;
                border: 2px solid white;
                border-radius: 0.1rem;
                color: white;
                margin-top: 40px;
                background-color: rgba(24, 12, 12, 0.126);

                @media screen and (min-width: 600px) {
                    width: 100%;
                    margin-top: 0px;
                }

                &_title {
                    letter-spacing: 3px;
                    font-size: 2.2rem;
                    font-weight: 600;
                    font-family: 'Bigelow Rules', serif;
                    border-bottom: 2px solid white;
                    padding: 20px 30px;
                    text-align: start;
                    background-color: #80808027;
                    text-overflow: ellipsis;
                    overflow: hidden;
        
                }
        
                &_list_data {
                    padding: 15px 30px;
                    list-style: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
        
                &_sub_title {
                    padding: 5px 0px;
                    font-size: 1.4rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-family: 'Bigelow Rules', serif;
                    overflow: hidden;
                    text-overflow: ellipsis;
        
                    span {
                        padding-left: 5px;
                        font-size: 1rem;
                        font-weight: 400;
                        font-family: 'Josefin Slab', serif;
                    }
                }

            }
        }

        .playtime{
            margin-top: 20px;
            font-size: 1rem;
            font-style: italic;
            display: inline;
            font-family: 'Josefin Slab', serif;
        }
    }
}



/*

.container_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    main {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container_img {
            background-color: white;
            height: 76vh;
            width: 30vh;
            background-size: cover;
            background-position-y: start;
            background-position-x: center;
    
            @media screen and (max-width: 1200px) {
                margin-bottom: 30px;
                margin-top: 40px;
            }
    
        }

        .container_cards {
            width: 35%; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 75vh;
            padding: 0px 10px;
            
            @media screen and (max-width: 1000px) {
                justify-content: space-evenly;
                align-items: center;
                width: 60%;
            }

            @media screen and (max-width: 600px) {
                width: 100%;
            }

            .card {
                width: 100%;
                height: auto;
                border: 2px solid white;
                border-radius: 0.1rem;
                color: white;
                background-color: rgba(24, 12, 12, 0.126);
        
                &_title {
                    font-size: 1.6rem;
                    font-weight: 900;
                    border-bottom: 2px solid white;
                    padding: 20px 30px;
                    text-align: start;
                    background-color: #80808027;
        
                    @media screen and (max-width: 768px) {
                        font-size: 2rem;
                    }
                }
        
                &_list_data {
                    padding: 15px 30px;
                    list-style: none;
                }
        
                &_sub_title {
                    padding: 5px 0px;
                    font-size: 1.2rem;
                    font-weight: 700;
        
                    span {
                        padding-left: 5px;
                        font-size: 1rem;
                        font-weight: 400;
                        font-family: 'Josefin Slab', serif;
                    }
                }
            }
            
            .playtime{
                margin-top: 20px;
                font-size: 1.1rem;
                font-style: italic;
                display: inline;
                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                }
            }
        }
    
        
    
        
    }

    

    
}

*/