.container-title{
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .spiral-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        overflow: hidden;
    
        .spiral-image {
            position: absolute;
            width: 120px; 
            height: 120px;
    
            animation: rotate 10s linear infinite;
    
            &.paused {
              animation-play-state: paused;
            }
          }
          
          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(-360deg);
            }
          }
    
          .spiral-image1 {
            top: -5%;
            left: -3%;
    
            width: 150px; 
            height: 150px;
          }
          
          .spiral-image2 {
            top: 5%;
            left: 70%;
            width: 200px; 
            height: 200px;
          }
          
          .spiral-image3 {
            bottom: 10%;
            right: -5%;
            width: 180px; 
            height: 180px;
          }
    
          .spiral-image4 {
            bottom: 45%;
            right: 10%;
          }
    
          .spiral-image5 {
            top: 45%;
            left: 10%;
            width: 80px; 
            height: 80px;
    
            width: 170px; 
            height: 170px;
          }
    
          .spiral-image6 {
            bottom: 20%;
            left: 45%;
          }
    
          .spiral-image7 {
            top: 10%;
            left: 20%;
          }
    
          .spiral-image8 {
            bottom: 90%;
            right: 2%;
          }
    
          .spiral-image9 {
            bottom: 8%;
            right: 95%;
          }
      }
}

