.landing{
    position: relative;
    z-index: 100; 
    width: 100%;

    .title-opacity, .description-opacity{
        height: 100vh;
    }
    .title-opacity{
        opacity: 1;
        &.fade-out {
            opacity: 0;
            transition: opacity 4s ease-in-out; 
            }
    }
    .description-opacity{
        &.fade-in {
            opacity: 1;
            animation: fadeIn 6s;
        }
        @keyframes fadeIn {
            0% {opacity: 0;}
            100% { opacity: 1;}
        }
    }

    
    .white-footer{
        width: 100%;
        background-color: var(--white-color);
        .container-footer{
            background-color: transparent;
        }

        .container-footer, .container-footer-access a{
            color: var(--black-color);
        }
    }
}


