.container-notfound{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    padding: 1.5rem;
}

.not-found-img{
    width: 16rem;
    padding: 1.5rem;
}

.p-notfound{
    padding-bottom: 2.5rem;
}