.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 3.5rem;
    position: relative;
    z-index: 101;
    .container-left, .container-right{
        display: flex;
        align-items: center;
        gap: 2rem;
        
    }

    .user-icon-container{
        font-size: 1.9rem;
        display: flex;
        align-items: center;
        .user-icon:hover{
            border-radius: 50%;
        }
    }

    a, button, .user-icon{ 
        color: var(--black-color); 
        font-weight: bold; 
        letter-spacing: 0.1rem; 

        &:hover{ 
            color: var(--white-color); 
        } 
    }

    
}

.white-nav{
    a, button, .user-icon{ 
        color: var(--white-color); 

        &:hover{ 
            color: var(--blood-color); 
        } 
    }
}