.container-nav-absolute{
    position: absolute;
    width: 100%;

    .container-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        height: 3.5rem;
        
        .nav-item{
            font-size: 1.2rem;
        }
        
        .container-left{
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }

        .container-right{
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .dropdown-container{
                padding: 0.1rem;
                border-bottom: 10px;
                
                .user-bar {
                    color: var(--black-color);
                }

                .dropdown {
                    max-width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                ul{
                    position: absolute;
                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 1s;
                    list-style-type: none;
                    margin-top: 15px;
                    border-radius: 2px;
                    right: 30px;
                    background-color: rgba(161, 161, 161, 0.484);

                    &.show {
                        max-height: 400px;
                    }

                    .user-name{
                        padding: 15px 10px;
                        font-weight: 500;
                        border-bottom: 0.5px solid rgba(53, 53, 53, 0.175);
                        letter-spacing: 0.05rem;

                        span{
                            color: var(--blood-color);
                            font-weight: 900;
                            letter-spacing: 0.1rem; 
                        }
                    
                    }

                    li {
                        color: var(--black-color);
                        &:hover:first-child{ 
                            background-color: transparent;
                        }

                        &:hover{ 
                            background-color: rgba(0, 0, 0, 0.21); 
                        }
                    }

                    .opc-bar{
                        display: block;
                        font-size: 1rem;
                        padding: 5px 10px;
                        font-weight: 500;
                    }

                     
                }

                
                &:hover ul {
                    max-height: 400px;
                }

                
            }
        }

        .user-icon-container{
            font-size: 1.9rem;
            display: flex;
            align-items: center;
            .user-icon:hover{
                border-radius: 50%;
            }
        }
    
        a, button, .user-icon{ 
            color: var(--black-color); 
            font-weight: bold; 
            letter-spacing: 0.1rem; 
    
            &:hover{ 
                color: var(--white-color); 
            } 
        }
    

        
    }
}


.white-nav{
    .container-nav{
        .container-right{
            .dropdown-container{
                .user-bar{ 
                    color: var(--white-color);
                }
                ul {
                    background-color: rgb(44, 44, 44);
                    
                    .user-name{
                        border-bottom: 0.5px solid rgba(96, 96, 96, 0.534);
                        span{
                            color: var(--blood-color);
                        }
                    }

                    li {
                        color: var(--white-color);
                    }
                }

                
            }
        }

        a, button, .user-icon{ 
            color: var(--white-color); 
    
            &:hover{ 
                color: var(--blood-color); 
            } 
        }

        
    }
   
}

@media screen and (min-width: 500px) {
    .container-nav-absolute{
        .container-nav{

            .nav-item{
                font-size: 1.5rem;
            }

            .container-left{
                gap: 2rem;
            }
    
            .container-right{
                gap: 2rem;
            }
        }
    }
}