
.help-container{
    max-width: 75%;
    margin: auto;

    p{
        margin: 2rem 0;
        text-align: center;
        color: var(--white-color);
    }

    h1 {
        margin: 2rem 0;
        text-align: center;
        color: var(--white-color);
    }

    button{
        color: var(--white-color);
        width: 100%;
        padding: 1.8rem 2.5rem;
        transition: 0.4s;
        cursor: pointer;
        border: none;
        outline: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        background-color: var(--black-color);
    }

    
    .active,
    button:hover {
        background-color: var(--grey-color);
    }

    button.active{
        background-color: var(--black-color);
    }

    .button-question{
        color: var(--white-color);
    }
    .answer {
        padding: 0 2rem 2.5rem 2rem;
        background-color: var(--transparent-black-color);
        overflow: hidden;
        display: none;

        ul{
            list-style: none;
        }

        li{
            color: var(--white-color);
            padding: 0.5rem 0;
        }

        p{
            color: var(--white-color);
            line-height: 1.4;
            padding: 1.2rem 0;
        }
    }

    .question{
        border: 1px solid var(--white-color);
        margin: 15px 0;
    }

    .question.active{
        border: none;
    }
}



// @media only screen and (min-width:768px) {
//     .help-container > p {
//         margin: 1.5rem 0;
//         font-size: 1.3rem;
//     }
//     .help-container button{
//         padding: 2rem 2.5rem;
//     }
//     .button-question{
//         font-size: 1.2rem;
//     }
//     .answer p{
//         font-size: 1.2rem;
//     }
//     .question{
//         margin: 20px 0;
//     }
// }

// @media only screen and (min-width:1024px) {
//     .help-container > p {
//         margin: 2rem 0;
//         font-size: 1.3rem;
//     }
//     .help-container button{
//         padding: 2.1rem 2.5rem;
//     }
//     .button-question{
//         font-size: 1.3rem;
//     }
//     .answer p{
//         font-size: 1.3rem;
//     }
//     .question{
//         margin: 25px 0;
//     }
// }