.container-principal-page{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.container-principal-page h1{
    padding: 1.5rem;
    font-size: 3.5rem;
}

.container-principal-page .container-game{
    width: 80vw;
    height: 80%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.container-principal-page .container-game p {
    padding: 1rem;
    font-size: 1.2rem;
}

.resume-game{
    padding: 1rem;
    font-size: 1.5rem;
}

.container-game .provitional-ilustration{
    background-image: url(../../assets/prototype-ilustration.png);
    height: 70%;
    width: 80vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
