@font-face {
    font-family: 'Good Vibration Regular';
    src: url('../../assets/trial-fonts/vtks_good_vibrations-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container-main {
    width: 100vw;
    height: 90vh;
    background-image: transparent;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3em;

    @media screen and (max-width: 800px) {
        height: 85vh;
        padding: 0;
        justify-content: space-around;
    }
    
    .art {
        background-image: url(../../assets/provitional-ilustration.png); 
        height: 60vh; 
        width: 60vw; 
        background-size: cover;  
        background-repeat: no-repeat;  
        background-position: top;
        margin: 1em auto;
        border: 1px solid var(--white-color);
        @media screen and (max-width: 800px){
            height: 40%;
            width: 90%;
        }
    }

}


.newgame-button {
    font-size: 3em;
    font-family: 'Good Vibration Regular';
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
    @media screen and (max-width: 800px) {
        margin-top: 2em;
    }
}

.title {
    font-size: 4em;
    text-align: center;
    font-weight: 300;
    color: var(--white-color);
    font-family: 'Good Vibration Regular';
    letter-spacing: normal;
}

.container-synopsis {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 800px) {
        height: 80vh;
        
    }
}
.synopsis {
    text-align: center;

    p {
        padding: 0.5em;
        color: var(--white-color);
    }

    @media screen and (max-width: 800px) {
        margin-top: 2em;
    }
}

.container-character {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        font-family: 'Good Vibration Regular';
        font-weight: 300;
        color: var(--white-color);
        text-align: center;
    }
}

.character-options {
    display: flex;
    justify-items: center;
    justify-content: center;
    
}

.character-options .character {
    background-image: url(../../assets/user.jpeg);
    width: 30vh;
    height: 60vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1em;
    border: 1px solid var(--white-color);
    @media screen and (max-width: 700px) {
        width: 10vh;
        height: 40vh;
        border: none;
    }
}