:root {
    --black-color: #070707;
    --grey-color: #363636;
    --blood-color: #c50303;
    --white-color: #F0F0F0;
    --transparent-black-color: #0505056b;
    --transparent-grey-color: rgba(236, 236, 236, 0.76);
  
    --font-size-small-mobile: 9px;
    --font-size-mobile: 10px;
    --font-size-tablet: 12px;
    --font-size-laptop: 14px;
    --font-size-desktop: 16px;
    --font-size-large-desktop: 18px;
    --font-size-huge-desktop: 20px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Amatic SC', sans-serif;  */
     font-family: 'Quicksand', sans-serif; 
}
  
  body{
    background-color: var(--black-color);
    background-attachment: fixed;
}

/* .homepage-container{
    background-image: url(./assets/flashlight1.png);
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
} */

  
html, body {
    height: 100%;
    width: 100%;
}
  
a { text-decoration: none; }
  
.footer-icon { font-size: 1.6rem; }
p{ font-size: 1.5rem; }
h1 {
    font-size: 7rem;
    font-family: 'Bigelow Rules', serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
}
h2 { font-size: 4rem; font-weight: lighter;}
h3 { font-size: 3rem; }
h4 { font-size: 1.9rem; }
button, a { font-size: 1.5rem; }
button, a, .user-icon{
    cursor: pointer;
    color: var(--white-color);
    &:hover{
        transition: 0.3s;
    }
}
button{
    background-color: transparent;
    outline: none;
    border: none;
}
input{
    color: var(--transparent-grey-color);
    font-size: 1.4rem;
}

  html {font-size: var(--font-size-small-mobile);}
  @media (min-width: 425px) { html {font-size: var(--font-size-mobile);} }
  @media (min-width: 600px) { html {font-size: var(--font-size-tablet);} }
  @media (min-width: 1240px) { html {font-size: var(--font-size-laptop);} }
  @media (min-width: 1400px) { html {font-size: var(--font-size-desktop);} }
  @media (min-width: 1900px) { html {font-size: var(--font-size-large-desktop);} }
  @media (min-width: 2500px) { html {font-size: var(--font-size-huge-desktop);} }