$night-color: #03242F;
$night-light-color: #02a0d4;
$maroon-color: #491111;
$blood-color: #c50303;
$white-color: #F0F0F0;
$black-color: #131313;
$transparent-black-color: #0505056b;

$font-size-small-mobile: 8px;
$font-size-mobile: 10px;
$font-size-tablet: 12px;
$font-size-laptop: 14px;
$font-size-desktop: 16px;
$font-size-large-desktop: 18px;
$font-size-huge-desktop: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

a {text-decoration: none;}

p{font-size: 1rem;}
h1{font-size: 5rem;}
h2{font-size: 3rem;}
h4{font-size: 1.5rem;}
button{font-size: 1.1rem;}

html {font-size: $font-size-small-mobile;}
@media (min-width: 425px) {html {font-size: $font-size-mobile;}}
@media (min-width: 600px) {html {font-size: $font-size-tablet;}}
@media (min-width: 1240px) {html {font-size: $font-size-laptop;}}
@media (min-width: 1400px) {html {font-size: $font-size-desktop;}}
@media (min-width: 1900px) {html {font-size: $font-size-large-desktop;}}
@media (min-width: 2500px) {html {font-size: $font-size-huge-desktop;}}