@import url(../../app.css);

.container_cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    @media screen and (max-width: 620px) {
        flex-direction: column;
    }

}